<div id="login-page" class="row">
  <div class="col s12 z-depth-3 card-panel">
    <form class="login-form">
      <div class="row">
        <h4 class="center">
          <i class="material-icons">cloud</i>
          A-DOC
        </h4>
        <div class="input-field col s12 center">
          <p class="center login-form-text">
            Escribe tu correo electrónico y te enviaremos una nueva clave de acceso para tu usuario.
          </p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="prefix material-icons">perm_identity</i>
          <input id="username" type="text">
          <label for="username">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a ui-sref="login" class="btn waves-effect waves-light col s12">Solicitar</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a ui-sref="login" class="btn col s12">Volver</a>
        </div>
      </div>
    </form>
  </div>
</div>
